.env
node_modules
frontend/.next
frontend/out
frontend/.turbo
backend/.tool-versions
.DS_Store
*.log
*.tmp
*.swp

# Test coverage & reports
backend/coverage.out
backend/unit-tests.xml
frontend/coverage/
frontend/junit.xml
